header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;
    display: flex;
}

header .logo {
    width: 142px;
    height: 60px;
    background-image: url("../images/header_logo.png");
    background-position: center;
    padding-left: 20px;
    background-repeat: no-repeat;
}