.container .filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 30px 25%;
}

section .filters .button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin-right: 30px;
}

section .filters .button:hover {
    background-color: rgba(255, 90, 95, 0.90);
}