.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 30px 25%;
    text-align: right;
}

section.filters button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
}

section.filters button:hover {
    opacity: 0.9;
}

.locations {
    text-align: left;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-left: 30px;
    float: left;
}

.amenities {
    text-align: left;
    height: 100%;
    width: 25%;
    margin-left: 30px;
    float: left;
}

.h3 {
    font-weight: 600;
    margin: 0;
    margin-top: 17%;
    padding: 0;
}

h4 { 
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
}