.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container .places h1 {
    font-size: 30px;
    text-align: left;
    padding: 20px 0 0 20px;
    margin: 0;
    flex: 0 1 100%;
}

.container .places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

.container .places h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

